.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100vw;
  min-height: 100vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


.resetButton{
  padding: 5px;
  justify-self: center;
  margin: 10px;
  background-color: red;
  color: white;
  box-shadow: 0 0 5px lightcoral;
  font-size: 24px;
  font-weight: bold;
}
.resetButton:hover{
  filter: brightness(95%);
}
.resetButton:active{
  filter: brightness(105%);
}
.center{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* HomePage */

.backgroundSelectButton{
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 10px;
  background-color: white;
}
.backgroundSelectButton:hover{
  filter: brightness(95%);
}

.mainTitleContainer{
  display: flex;
  color: white;
  background-color: rgb(62, 107, 108);
  box-shadow: 0 5px 5px 0 rgb(0, 79, 79);
  text-shadow: 0 0 5px rgb(200, 200, 200);
  font-size: 24px;
  padding: 15px;
  width: 100%;
  margin-bottom: 25px;
  justify-content: center;
}
.mainTitle{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.gameOptionList{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gameOption{
  padding: 10px 20px;
  margin: 15px;
  border-radius: 15px;
  background-color: lightgray;
  box-shadow: 0 0 5px 3px gray;
  width: 200px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
.gameOption:hover{
  cursor: pointer;
  filter: brightness(95%)
}
.gameOption:active{
  filter: brightness(105%)
}


.backButton{
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px;
}
.backButton:hover{
  filter: brightness(95%)
}
.backButton:active{
  filter: brightness(105%)
}

.checkersOption{
  color: white;
  text-shadow: 2px 2px 5px lightcoral;
  background-color:darkred;
  box-shadow: 0 0 5px 3px lightcoral;
}
.masterMindOption{
  background-color:rgb(78, 220, 213);
  text-shadow: 2px 2px 5px rgb(23, 126, 126);
  box-shadow: 0 0 5px 3px rgb(23, 126, 126);
}
.triviaOption{
  color: beige;
  background-color: darkgreen;
  box-shadow: 0 0 5px 3px rgb(0, 20, 0);
}
.connectFourOption{
  background-color: blue;
  color: white;
  text-shadow: 2px 2px 5px gray;
  box-shadow: 0 0 5px 3px darkblue;
}
.titleContainer{
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 3px;
  border-top: 3px black solid;
}



/* background-image-gallery */
.ImageGalleryMain {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.imageGalleryContent{
  backdrop-filter: blur(15px);
}
.ImageGalleryBackgroundContainer{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.nav{
  display: flex;
  justify-content: space-around;
  border-bottom: 5px darkcyan solid;
  border-top: 5px darkcyan solid;
  background-color: lightgrey;
}

.option{
  color:darkcyan;
  font-size: 36px;
  font-weight: bold;
  background-color: lightgrey;
  flex-grow: 1;
  text-align: center;
  border-right: 3px rgba(165, 165, 165) solid;
  border-left: 3px rgba(165, 165, 165) solid;
}
.selectedOption{
  color:darkcyan;
  font-size: 36px;
  font-weight: bold;
  background-color:rgb(180, 180, 180);
  flex-grow: 1;
  text-align: center;
  border-right: 3px rgba(165, 165, 165) solid;
  border-left: 3px rgba(165, 165, 165) solid;
}
.option:hover{
  background-color:rgb(195, 195, 195) ;
  cursor: pointer;
}
.option:active{
  background-color:rgb(215, 215, 215) ;
}

.mainContent{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-self: center;
  justify-content: center;
  left: 50%;
  right: 50%
}
.mainContentItem{
  list-style-type: none;
  background-color: lightsteelblue;
  width: 300px;
  height: 300px;
  border: 3px rgba(0, 0, 0, 0.5) solid;
  margin: 30px;
}
.mainContentItem:hover{
  filter: brightness(90%);
}
.selectedImg{
  box-shadow: 0 0 5px 3px blue;
}
.container{
  justify-content: center;
}
.image{
  object-fit: cover;
  width: 100%;
  height: 100%;
}




/* MasterMind */
.MasterMindRow{
  display: flex;
  align-items: center;
  padding: 5px 20px;
}
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selectedRow{
  background-color: rgba(32, 178, 171, 0.5);
  box-shadow: 0 0 5px 3px  rgba(32, 178, 171, 0.5);
  border-radius: 15px;
}
.board{
  display: flex;
  background-color: darkgray;
  box-shadow: 0 0 5px black;
  padding: 10px;
  border-radius: 15px;
}
.MasterMindPiece{
  width: 65px;
  height: 65px;
  background-color: gray;
  margin: 5px;
  border-radius: 50%;
  box-shadow: 0 0 5px black;
}

.selectedPiece{
  box-shadow: 0 0 5px 3px rgb(17, 5, 96)
}
.MasterMindPiece1{
  background-color: red;
}
.MasterMindPiece2{
  background-color: orange;
}
.MasterMindPiece3{
  background-color: yellow;
}
.MasterMindPiece4{
  background-color: green;
}
.MasterMindPiece5{
  background-color: blue;
}
.MasterMindPiece6{
  background-color: white;
}

.pin{
  width: 15px;
  height: 15px;
  margin: 5px;
  border-radius: 50%;
  background-color: gray;
  box-shadow: 0 0 5px black;
}
.pin1{
  background-color: white;
}
.pin2{
  background-color: red;
}

.selectColors{
  justify-content: center;
}
.guessButton{
  font-size: 24px;
  margin: 15px;
  padding: 5px 10px;
  background-color: gray;
  border: 2px darkgray solid;
  color: darkgray;
  border-radius: 15px;
}
.canGuess{
  background-color: blue;
  color: white;
}
.canGuess:hover{
  cursor: pointer;
  filter: brightness(95%)
}
.canGuess:active{
  filter: brightness(105%)
}


.boardLeftContainer{
  margin: 15px;
}
.MasterMindTitle{
  background-color:rgb(78, 220, 213);
  border-radius: 15px;
  padding: 5px 10px;
  margin: 15px;
  box-shadow: 0 0 5px 3px rgb(23, 126, 126);
}
.MasterMindWinMessage{
  background-color:rgb(78, 220, 213);
  border-radius: 15px;
  padding: 4px 4px;
  box-shadow: 0 0 5px 3px rgba(0, 187, 177, 0.5);
  margin: 15px;
}



/* checkers */
.checkersWinMessage{
  text-shadow: 0 0 10px white;
}
.checkerBoardHtml{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
}
.blackSquare{
  width: 70px;
  height: 70px;
  background-color: rgb(86, 47, 0);
}
.whiteSquare{
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 248, 206);
}
.checkerboard{
  border: 5px black solid;
  border-collapse: collapse;
}

.piece1{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  border: 3px rgba(128, 128, 128, 0.3) dashed;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.piece2{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  border: 3px rgba(128, 128, 128, 0.5) dashed;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ghostPiece{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  margin: auto;
}
.highlight{
  background-color: yellow;
}
.selected{
  background-color: blue;
}
.crown{
  width: 20px;
  height: 20px;
  background-color: goldenrod;
}

.title{
  margin: 15px;
  font-size: 48px;
  text-shadow: 2px 2px 5px lightcoral;
  color:darkred;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.3);
  margin-bottom: 15px;
}


/* Trivia */
.triviaQuestion{
  margin: 15px 50px;
  text-align: center;
  background-color: beige;
  padding: 5px 10px;
  border-radius: 15px;
  box-shadow: 0 0 5px 3px rgb(52, 46, 32);
}
.triviaType{
  background-color: beige;
  padding: 5px 10px;
  border-radius: 15px;
  box-shadow: 0 0 5px 3px rgb(52, 46, 32);
}
.triviaTitle{
  font-size: 36px;
  background-color:darkgreen;
  color: beige;
  border-radius: 15px;
  padding: 7px 14px;
  margin: 15px;
}

.triviaOptions{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.triviaTypeOption{
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
  margin: 5px;
  background-color: lightgray;
  border: 2px black solid;
  border-radius: 5px;
  text-align: center;
}
.triviaTypeOption:hover{
  cursor: pointer;
  filter: brightness(95%);
}
.triviaTypeOption:active{
  filter: brightness(105%);
}
.triviaAnswerOption{
  padding: 5px 10px;
  margin: 5px;
  background-color: lightgray;
  border: 2px grey solid;
  border-radius: 5px;
  text-align: center;
}
.triviaAnswerOption:hover{
  cursor: pointer;
  filter: brightness(95%);
}
.triviaAnswerOption:active{
  filter: brightness(105%);
}
.triviaButton{
  font-size: 20px;
  padding: 5px 10px;
  margin: 15px;
  background-color: lightgray;
  border: 2px gray solid;
}
.triviaCanClick{
  border: 2px darkgreen solid;
  background-color: darkgreen;
  color: beige;
}
.triviaCanClick:hover{
  cursor: pointer;
  filter: brightness(95%);
}
.triviaCanClick:active{
  filter: brightness(105%);
}

.triviaSelected{
  background-color: blue;
  border: 2px darkblue solid;
  box-shadow: 0 0 5px 3px darkblue;
  color: beige
}

.triviaCorrect{
  background-color: rgb(182, 255, 182);
}
.triviaIncorrect{
  background-color: rgb(255, 179, 179);
}
.triviaSelectedCorrect{
  background-color: green;
  border: 2px darkgreen solid;
  box-shadow: 0 0 5px 3px darkgreen;
  color: beige;
}
.triviaSelectedIncorrect{
  background-color: red;
  border: 2px darkred solid;
  box-shadow: 0 0 5px 3px darkred;
  color: beige;
}
.triviaBackButton{
  font-size: 16px;
  padding: 5px 10px;
  background-color: red;
  border:  2px darkred solid;
  color: beige;
}
.triviaBackButton:hover{
  cursor: pointer;
  filter: brightness(95%);
}
.triviaBackButton:active{
  filter: brightness(105%)
}


/* Connect Four*/
.connectFourBoard{
  display: flex;
  background-color: blue;
  padding: 15px;
  border-radius: 15px;
  margin: 15px;
}
.connectFourTitle{
  font-size: 36px;
  margin: 15px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: blue;
  color: white;
  text-shadow: 2px 2px 5px gray;
  box-shadow: 0 0 5px 3px darkblue;
}
.turn1{
  box-shadow: 0 0 10px 5px red;
}
.turn2{
  box-shadow: 0 0 10px 5px yellow;
}
.connectFourColumn{
  display: flex;
  flex-direction: column;
}
.connectFourRowHoverDarken:hover{
  filter: brightness(80%);
}

.connectFourPiece{
  width: 75px;
  height: 75px;
  margin: 3px 6px;
  border-radius: 50%;
  background-color: gray;
  box-shadow: 0 0 5px black;
}
.connectFourPiece1{
  background-color: red;
}
.connectFourPiece2{
  background-color: yellow;
}
.connectFourWinPiece{
  box-shadow: 0 0 5px 5px orange;
}
.connectFourShaded{
  filter: brightness(50%);
}